<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{homeDetail.room.name}}">
  <ion-content class="padding">
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Tubelight
    </ion-toggle>
    </ion-list>
    <ion-list ng-repeat="home in homeDetail.roomDetail.gpio
    ">
    <ion-toggle  ng-model="settings.enableFriends">
        Tubelight
    </ion-toggle>
    </ion-list>
    <div>
      {{homeDetail.roomDetail}}
    </div>
  </ion-content>
</ion-view>
